@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.setup {
  width: 100%;
  max-width: 654px;
  margin: auto;
  border-radius: 20px;
  padding: 56px;
  color: #7191a5;
  font-size: 20px;
}

.popup {
  width: 100%;
  max-width: 654px;
  margin: auto;
  border-radius: 20px;
  padding: 56px;
  color: #7191a5;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.popup-wrapper {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: rgba(151, 151, 151, 0.5);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: min(24px, 3vw);
  padding-right: min(24px, 3vw);
}
.popup-header {
  text-align: center;
}
.popup-header .title {
  font-size: 48px;
  margin-bottom: 16px;
  color: #152938;
}

.menu-mobile {
  max-width: 354px;
  width: 100%;
  margin: auto;
  border-radius: 20px;
  padding: 24px;
  color: #7191a5;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.menu-mobile-wrapper {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: rgba(151, 151, 151, 0.5);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: min(24px, 3vw);
  padding-right: min(24px, 3vw);
}
.menu-mobile-wrapper.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}
.menu-mobile-header {
  text-align: center;
}
.menu-mobile-header .title {
  font-size: 48px;
  margin-bottom: 16px;
  color: #152938;
}

.panel-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: min(30px, 3vw);
  text-align: center;
  margin-bottom: 32px;
}
.panel-title {
  margin-bottom: 16px;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  max-width: 1110px;
  width: 100%;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 67px;
}
@media screen and (max-width: 768px) {
  .header {
    margin-top: min(24px, 3vw);
  }
}
.header .menu {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.scores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: min(24px, 3vw);
  color: #7191a5;
  margin-bottom: 74px;
}
@media screen and (max-width: 768px) {
  .scores {
    margin-bottom: min(24px, 3vw);
  }
}
.scores .score {
  max-width: 230px;
  flex-grow: 1;
  background-color: #bcced9;
  padding: 17px 24px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;
}
@media screen and (min-width: 768px) {
  .scores .score {
    flex-direction: row;
  }
}
@media screen and (max-width: 768px) {
  .scores .score .player-name {
    width: 10px;
    overflow: hidden;
    display: inline-flex;
  }
}
.scores .score::before {
  content: "CURRENT TURN";
  font-size: 13px;
  letter-spacing: 5px;
  position: absolute;
  bottom: -36px;
  left: 0;
  width: 100%;
  color: #152938;
  text-align: center;
  transform: translateY(13px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.scores .score::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  width: 28px;
  height: 28px;
  transform: translateX(-14px) rotate(45deg);
  background-color: #bcced9;
  z-index: -1;
  transition: background-color 0.3s ease, top 0.3s ease;
}
.scores .score.active {
  background-color: #fda214;
  color: #fcfcfc;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.scores .score.active::before {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.scores .score.active::after {
  top: -14px;
  transition: background-color 0.3s ease, top 0.3s ease;
  background-color: #fda214;
}
.scores .score.active .font-big {
  color: #fcfcfc;
}
.scores .score .font-big {
  font-size: 32px;
  color: #152938;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.results .result {
  width: 100%;
  background-color: #bcced9;
  padding: 17px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
.results .result .font-big {
  font-size: 32px;
  color: #152938;
}
.results .winner {
  color: #fcfcfc;
  background-color: #152938;
}
.results .winner .font-big {
  color: #fcfcfc;
}

.logo {
  font-size: 40px;
}

.in-game .logo {
  color: #152938;
}

.in-setup .logo {
  color: #fcfcfc;
}

.button {
  display: block;
  font-size: 20px;
  font-weight: 700;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 28px;
  border: none;
  background-color: #dfe7ec;
  cursor: pointer;
}
.button:hover {
  background-color: #304859;
  color: #fcfcfc;
}
.button.accent {
  background-color: #fda214;
  color: #fcfcfc;
}
.button.accent:hover {
  background-color: #ffb84a;
}

.input-radio {
  flex-grow: 1;
}

.input-radio input[type=radio] {
  display: none;
}

.input-radio input[type=radio] + label {
  display: block;
  font-size: 26px;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 28px;
  background-color: #dfe7ec;
  color: #fcfcfc;
  cursor: pointer;
}
.input-radio input[type=radio] + label:hover {
  background-color: #7191a5;
}

.input-radio input[type=radio]:checked + label {
  background-color: #152938;
}

.input-radio button[type=submit] {
  display: block;
  font-size: 26px;
  font-weight: 700;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 16px;
  border-radius: 28px;
  background-color: #fda214;
  color: #fcfcfc;
  border: none;
  cursor: pointer;
}
.input-radio button[type=submit]:hover {
  background-color: #ffb84a;
}

.in-setup {
  background-color: #152938;
  transition: background-color 0.5s ease-in-out;
}
.in-setup .header .menu {
  display: none;
  visibility: hidden;
}
.in-setup .board {
  display: none;
}
.in-setup .scores {
  display: none;
}
.in-setup .popup-wrapper {
  display: none;
}

.in-game {
  transition: background-color 0.5s ease-in-out;
  background-color: #fcfcfc;
}
.in-game .setup {
  display: none;
}
.in-game .popup-wrapper {
  display: none;
}

.game-finished .setup {
  display: none;
}
.game-finished .popup-wrapper {
  display: flex;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.board {
  display: grid;
  width: 100%;
  max-width: 572px;
  max-height: auto;
  min-height: 0;
  min-width: 0;
  gap: min(24px, 3vw);
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  aspect-ratio: 1;
  border-radius: 50%;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
  background-color: #152938;
  color: #fcfcfc;
}
.card .back {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  user-select: none;
  background-color: #dfe7ec;
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  font-size: inherit;
}
.card.flipped {
  transform: rotateY(180deg);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.card.found {
  transform: rotateY(180deg);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.card.found .back {
  background-color: #fda214;
}

.card[data-size="4"] .back {
  font-size: min(56px, 12vw);
}

.card[data-size="4"].icons .back {
  font-size: min(50px, 9vw);
}

.card[data-size="6"] .back {
  font-size: min(44px, 8vw);
}

.card[data-size="6"].icons .back {
  font-size: min(18px, 5vw);
}

@media screen and (min-width: 768px) {
  .card[data-size="4"] .back {
    font-size: 56px;
  }

  .card[data-size="4"].icons .back {
    font-size: 50px;
  }

  .card[data-size="6"] .back {
    font-size: 44px;
  }

  .card[data-size="6"].icons .back {
    font-size: 34px;
  }
}
.bg-white {
  background-color: #fcfcfc;
}

.radius {
  border-radius: 20px;
}

.hide {
  display: none;
  visibility: hidden;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.flex {
  display: flex;
  gap: 16px;
}

.w-100 {
  width: 100%;
}

.onMobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .onMobile {
    display: block;
  }
}

.onDesktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .onDesktop {
    display: block;
  }
}

.fg-1 {
  flex-grow: 1;
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  padding-left: min(24px, 3vw);
  padding-right: min(24px, 3vw);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
